[Unit]
Description=PDF query with Generative AI Service
After=network.target
 
[Service]
User=root
Group=root
WorkingDirectory=/home/ubuntu/pdf-query-rag-llm-app
Environment="PATH=/home/ubuntu/pdf-query-rag-llm-app_env/bin"
ExecStart=/home/ubuntu/pdf-query-rag-llm-app_env/bin/streamlit run /home/ubuntu/pdf-query-rag-llm-app/pdf-query-rag-llm-app.py --server.port 8080 --server.headless true
 
[Install]
WantedBy=multi-user.target
